@import url("things.css");
@import url('../fonts/annie.css');

:root {
    --color-primary: #f0c93b;
    --color-secondary1: #3CC5A1;
    --color-secondary2: #39556b;
    --color-background1: #38a69b;
    --color-background2: #2e485a;
    --color-background3: #d3513c;
    --font-family-result: 'Annie Use Your Telescope', cursive;
}

* {
    box-sizing: border-box;
}

html {
    height: 300%;
}

body {
    font-family: Arial, sans-serif;
    font-size: 24px;
    padding: 0;
    margin: 0 auto;
    max-width: 1000px;
    height: 100%;
    background-color: var(--color-primary);
}

main {
    height: 100%;
    color: white;
}

footer {
    font-size: 10px;
}

button {
    border: 3px solid var(--color-secondary2);
    background-color: var(--color-background2);
    margin:0;
    padding: 0.2em 1em;
    font-family: Arial, sans-serif;
    font-size: 24px;
    color: white;
    position: absolute;
    bottom: 20px;
}

button:active {
    border-color: var(--color-background2);
}

.banner {
    color: var(--color-background1);
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

fieldset:nth-child(odd) {
    background-color: var(--color-background1);
}

fieldset:nth-child(even) {
    background-color: var(--color-background2);
}

fieldset legend {
    padding: 0;
    position: relative;
    top: 0.5em;
}

fieldset ul {
    list-style-type: none;
    padding-left: 0;
}

fieldset li {
    display: inline-block;
}

input {
    font-size: 1em;
    font-family: var(--font-family-result);
    background-color: var(--color-background1);
    color: white;
    border: var(--color-secondary1) 0.2em solid;
    margin: 0.1em;
    text-align: right;
    width: 2em;
    height: 1.8em;
}

#task-text {
    float: left;
    border: 0.2em solid var(--color-background3);
    margin: 0.1em;
}

#parameters-form {
    height: calc(33% - 3em);
}

.result-form {
    font-size: 2em;
    font-family: var(--font-family-result);
    background-color: var(--color-background3);
    height: 33.3%;
    position: relative;
}

#confirm {
    position: relative;
    bottom: 0;
}

#multiple-results div {
    margin: 0.1em;
    border: var(--color-secondary1) 0.2em solid;
    border-radius: 50%;
    background: var(--color-background1);
    float: left;
    width: 1.8em;
    height: 1.8em;
    text-align: center;
    vertical-align: middle;
}

#multiple-results div:hover {
    cursor: pointer;
}

#multiple-results div:active {
    background: aquamarine;
}

div.clear-float {
    float: none;
    clear: both;
}