* {
    box-sizing: border-box;
}

body {
    font-family: Arial, SansSerif;
    font-size: 24px;
    padding: 0;
    margin: 0;
}

footer {
    font-size: 10px;
}

.result-form {
    font-size: 2em;
}

#multiple-results div {
    margin: 0.1em;
    border: aquamarine 0.2em solid;
    background: deepskyblue;
    float: left;
    width: 1.6em;
    height: 1.6em;
}

#multiple-results div:hover {
    cursor: pointer;
}

#multiple-results div:active {
    background: aquamarine;
}

div.clear-float {
    float: none;
    clear: both;
}