@import url("things.css");
@import url('../fonts/annie.css');

:root {
    --color-primary: #f0c93b;
    --color-secondary1: #3CC5A1;
    --color-secondary2: #39556b;
    --color-background1: #38a69b;
    --color-background2: #2e485a;
    --color-background3: #d3513c;
    --font-family-result: 'Annie Use Your Telescope', cursive;
    --form-height: calc(100% - 1.67em - 11.5px);
}

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    font-size: 24px;
    padding: 0;
    margin: 0 auto;
    max-width: 1000px;
    height: calc(100% - 0.67em - 11.5px);
    background-color: var(--color-primary);
    position: relative;
}

nav {
    position: absolute;
    top: 0;
    width: 100%;
}

nav ul {
    list-style-type: none;
}

nav li {
    text-align: right;
}

nav a {
    text-decoration: none;
}

main {
    height: calc(100% - 0.67em - 11.5px);
    color: white;
}

footer {
    font-size: 10px;
}

footer ul {
    list-style-type: none;
    padding-left: 0;
}

footer li {
    display: inline-block;
}

footer li:before, footer li:after {
    content: "|";
}

button {
    border: 3px solid var(--color-secondary2);
    background-color: var(--color-background2);
    margin:0;
    padding: 0.2em 1em;
    font-family: Arial, sans-serif;
    font-size: 24px;
    color: white;
    position: absolute;
    bottom: 0.3em;
}

button:active {
    border-color: var(--color-background2);
}

.banner {
    color: var(--color-background1);
    height: 3.33em;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

fieldset:nth-child(odd) {
    background-color: var(--color-background1);
}

fieldset:nth-child(even) {
    background-color: var(--color-background2);
}

fieldset legend {
    padding: 0;
    position: relative;
    top: 0.5em;
}

fieldset ul {
    list-style-type: none;
    padding-left: 0;
}

fieldset li {
    display: inline-block;
}

input {
    font-size: 1em;
    font-family: var(--font-family-result);
    background-color: var(--color-background1);
    color: white;
    border: var(--color-secondary1) 0.2em solid;
    margin: 0.1em;
    text-align: right;
    width: 2em;
    height: 1.8em;
}

#task-text {
    float: left;
    border: 0.2em solid var(--color-background3);
    margin: 0.1em;
}

#parameters-form {
    min-height: calc(var(--form-height) - 4.5em);
    padding-bottom: 2.5em;
    position: relative;
}

input[name="max"] {
    width: 4em;
}

.result-form {
    font-size: 2em;
    font-family: var(--font-family-result);
    background-color: var(--color-background3);
    min-height: var(--form-height);
    position: relative;
}

#confirm {
    position: relative;
    bottom: 0;
}

#multiple-results div {
    margin: 0.1em;
    border: var(--color-secondary1) 0.2em solid;
    border-radius: 50%;
    background: var(--color-background1);
    float: left;
    width: 1.8em;
    height: 1.8em;
    text-align: center;
    vertical-align: middle;
}

#multiple-results div:hover {
    cursor: pointer;
}

#multiple-results div:active {
    background: aquamarine;
}

.score {
    position: absolute;
    bottom: 10px;
    margin: 0;
    right: 10px;
}

#highscore-form {
    background-color: var(--color-background2);
    min-height: var(--form-height);
    position: relative;
}

#highscore-form [name='name'] {
    width: 12em;
    text-align: left;
}

div.clear-float {
    float: none;
    clear: both;
}